.navbar
{
    height: 70px;
    width: 100%;
    top: 0;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   /* display: none;*/
}

.nav-container
{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color : #1f2833 ;
}

.nav-links
{
    display: flex;
    gap: 20px;
}
.nav-container-2{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
}

.nav-item
{
    color: #45a29e ;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 10px;

}

.nav-item:hover
{
    color: #1f2833;
    background-color: rgb(255, 102, 0);
    transition: 0.3s;
}

